* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/***********************************/
/* Header */
header {
    margin-bottom: 20px;
}

.logo {
    width: 175px;
    padding-right: 25px;
    border-right: 3px #E5E5E5 solid;
}
/* / Header */

/* Navbar */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #858585;
    text-decoration: none;
    margin-right: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* / Navbar */

/* Main */
main {
    height: 330px;
    margin-bottom: 20px;
}
/* / Main */

/* Content box */
.content-box {
    background-color: #0086FF;
}

.content-header {
    background-color: #ABCFE7;
    height: 50px;
    margin-bottom: 15px;
}

.content {
    background-color: #ABCFE7;
    height: 450px;
    margin-bottom: 15px;
}

.side {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: calc(60% - 20px);
    margin: 0 10px;
}

/* / Content box */

/* Footer */
footer {
    margin-top: 10px;
    background-color: #8801FE;
    height: 40px;
}
/* / Footer */