* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/***********************************/
/* Header */
header {
    margin-bottom: 40px;
}

.logo {
    width: 175px;
    padding-right: 25px;
    border-right: 3px #E5E5E5 solid;
}
/* / Header */

/* Navbar */
nav {
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #858585;
    text-decoration: none;
    margin-right: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}
/* / Navbar */

/* Main */
main {
    height: 500px;
    background: url("../img/banner.jpg") no-repeat 50% 53%;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
}

.main-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.main-text {
    width: 50%;
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: #fff;
}

/* / Main */

/* Content box */
.content-box {
}

.content-header {
    margin-bottom: 15px;
}

.content {
    margin-bottom: 15px;
}

.side {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: calc(60% - 20px);
    margin: 0 10px;
}

/* / Content box */

/* Footer */
footer {
    margin-top: 10px;
}
/* / Footer */